@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
  --green: #97bf0f;
}

*,
p,
ul {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 20px;
}

.nav {
  height: 100vh;
}

.title,
.copy {
  font-family: 'Kaushan Script', cursive;
}

.active {
  background-color: var(--green);
  color: white;
  padding: 10px 30px 10px 20px;
}

.copy {
  font-size: 10px;
}
